akracer==0.0.14
akshare==1.18.94
beautifulsoup4==4.15.0
certifi==2026.1.4
cffi==2.1.1
curl_cffi==0.16.2
decorator==5.3.1
et-xmlfile==2.0.0
html5lib==1.1
idna==3.11
jsonpath==0.82.2
lxml==6.1.2
numpy==2.5.2
openpyxl==3.1.5
pandas==3.0.5
py-mini-racer==0.6.0
pycparser==3.0
python-dateutil==2.9.0.post0
requests==2.32.5
six==1.17.0
soupsieve==2.9.2
tabulate==0.10.0
tqdm==4.70.0
urllib3==2.6.3
webencodings==0.6.1
xlrd==2.0.2
